
.view-project .markdown * {
  max-width: 100%;
}


.view-project .progresses {
  display: flex;
  align-items: center;
}


.view-project .line {

  width: 100px;
  height: 6px;
  /* background: #fd9999; lit pink */
  /* background: #c9c9c9; */
}


.view-project .steps {

  display: flex;
  /* background-color: #a7a6a6; */
  color: #1b1b1b;
  font-size: 14px;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.view-project .steps span {
  font-weight: bold;
  font-size: 12px;
  z-index: +1;
}