/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 4.5rem;
  min-height: 100vh;
}

.palette-pink {
  background-color: #ec5f5f;
}

.palette-pink.btn:hover {
  background-color: #c74f4f;
}

.no-input-border[type=text]{ 
  border: 0;
  border: 1px solid #c74f4f;
  padding-left: 10px;
  outline: 0;
}

.point {
  cursor: pointer;
}
